@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&display=swap');


body{
  font-family: 'Montserrat', sans-serif;
  background-color: #ffa4a4dc;
  background-image: url("tulipbg-removebg-preview.png");
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #ff7979;
  color: white;
  border-radius: 15px;
}

h1 {
  margin: 0;
  font-size: 1.8rem;
}

.category-section {
  display: flex;
  gap: 1rem;
}

.category {
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  border: none;
  background-color: #ffb6b6;
  cursor: pointer;
  transition: background-color 0.3s;
}

.category:hover {
  background-color: #ff6b6b;
  color: white;
}
